* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Utility Classes */

.btn-primary {
  background: #1db954;
  color: white;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}
.logo {
  height: 40px;
  width: auto;
}
/* NavBar */
#navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar .navbar-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 0;
}

#navbar .navbar-container .logo {
  height: 40px;
  width: auto;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
}
#navbar .navbar-container ul li:nth-child(3) {
  border-left: 1px solid white;
}

/* ShowCase */

#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(/images/showcase.webp) center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase .showcase-container h2 {
  font-size: 5rem;
}

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}
